.one{
	background-color: blue;
	height: 400px;
	width: 200px;
	float: left;
}

.two{
	background-color: white;
	height: 400px;
	width: 200px;
	float: left;
}

.three{
	background-color: red;
	height: 400px;
	width: 200px;
	float: left;
}